/*==================== Imports ==================*/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

/*==================== General ==================*/
*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.text-container .text-pattern {  
  color: transparent;
  background-color: #e0840b;
  background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,       rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
  -webkit-background-clip: text;
  background-clip: text;
  animation: color 30s linear infinite; 
  background-size: 1500%;  
  
}

@keyframes color {
  from { 
    background-position: 0% 50%;
  }
  to { 
    background-position: 100% 50%; 
  }
}

h2 span{
    font-family: 'Fredoka One', cursive;
}


.section-tarjeta{
  transform: translate(4%, 0);
}


.footer{
    background-color: rgb(62, 64, 65);
    width: 100%;
    padding: 1rem;
    display: block;
    position: absolute;
    z-index: 1;
    bottom:0%;
   
}

img{
  height: 350px;
  width: 200px;
  object-fit: cover;
}

#saldo{
    font-size: 25px;
    font-weight: bold;
}